<div class="row">

    <div class=" col-xs-12"><img src="" alt="" class="img-responsive"></div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group">
                <button type="button" class="btn btn-success">To Shopping List</button>
                <button type="button" class="btn btn-primary">Edit Recipe</button>
                <button type="button" class="btn btn-danger">Delete Recipe</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>description</h3>
            <p>Some description</p>
        </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Ingredients</h3>
            <ul class="list-group">
                <li class="list-group-item">Some Ingredient</li>
                <li class="list-group-item">Another Ingredient</li>
            </ul>
        </div>
    </div>
